# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\khimera\personal\movies_app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
